<div class="toolbar-container">
  <mat-toolbar class="toolbar" color="primary">
    <mat-icon aria-hidden="false" aria-label="check mark icon">fact_check</mat-icon>
    <h1>Habit Tracker</h1>
  </mat-toolbar>
</div>
<button mat-raised-button routerLink="" color="accent" (click)="adding=false">Home</button>
<button mat-raised-button routerLink="/habit" color="accent" (click)="adding=false">Habits</button>
<button mat-raised-button color="accent" routerLink="habit/add">
  Add New Habit
</button>
<router-outlet></router-outlet>