<div class="toolbar-container">
  <mat-toolbar class="toolbar" color="primary">
    <mat-icon aria-hidden="false" aria-label="check mark icon">fact_check</mat-icon>
    <h1>Habit Tracker</h1>
  </mat-toolbar>
</div>
<button mat-raised-button routerLink="" color="accent" (click)="adding=false">Home</button>
<button mat-raised-button routerLink="/habits/1" color="accent" (click)="adding=false">Habits</button>
<button mat-raised-button color="accent" (click)="adding = !adding" *ngIf='!adding'>
  Add New Habit
</button>

<div class="add-form-container" *ngIf="adding">
  <mat-card>
    <mat-card-title>Add New Habit </mat-card-title>
    <hr />
    <form>
      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>Title</mat-label>
          <input matInput />
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
          <mat-label>Frequency</mat-label>
          <mat-select>
            <mat-option value="Daily">Daily</mat-option>
            <mat-option value="Weekly">Weekly</mat-option>
            <mat-option value="Monthly">Monthly</mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <textarea
            matInput
            placeholder="Why is this habit important to you?"
          ></textarea>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="accent" type="submit">Save</button>
        <button mat-raised-button>Cancel</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>


<router-outlet></router-outlet>